Debug
.vs
IEEE754_related.sln
IEEE754_related/.gitignore.txt
IEEE754_related/IEEE754_related/IEEE754_related.vcxproj
*.filters
IEEE754_related/IEEE754_related/IEEE754_related.vcxproj.user
*.sln
*.vcxproj
*.user
